<script id="bootstrap-current-user" type="text/javascript">
  <% if signed_in? %>
  	window.currentUser = <%= render("authored_api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  <% end %>
</script>

<div id="content"></div>
