.postShow {
  margin-right: 20vh;
  margin-left: 20vh;
<<<<<<< HEAD
  margin-bottom:60px;
=======
>>>>>>> 795fae555c57824df88cb60fc93bbf7899e2da7c
}

.postShowTitle {
  display:flex;
  justify-content: center;
<<<<<<< HEAD
  font-family: 'Homemade Apple', cursive;
}

.report-author {
  text-align: center;
  margin-top: 20px;
=======
  cursor: default;
  font-family: 'Homemade Apple', cursive;

>>>>>>> 795fae555c57824df88cb60fc93bbf7899e2da7c
}

.loginOrHighlight {
  display: flex;
  justify-content: center;
}

.toggleHighlights {
  cursor:pointer;

}

.postText {

}

.highlightedText {
  background-color: rgba(0, 255, 0, 0.3);
  cursor:pointer;
}

.plainText {
}
<<<<<<< HEAD

.coverPhotoContainer {
  max-width: inherit;
  display: flex;
  justify-content: center;
}

.coverPhoto {
  max-width: 750px;
  width: 100%;
  height: 100%;
}
=======
>>>>>>> 795fae555c57824df88cb60fc93bbf7899e2da7c
