// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-background {
  position: absolute;;
  z-index: -1;
  height: auto;
  width: auto;
  max-width: 600px;
  border-radius: 20px;
  opacity: 0.5;
}

.link-away {
  text-align: center;
}

.errors {
  list-style: none;
  text-align: center;
  color: red;
}

.login-form-container {
  margin-top:60px;
}
